{% extends "./partials/container.html" %}

{% block content %}
<div class="container my-5 text-center align-items-center"> 
    <h1>ERROR 404: The page was not found.</h1>
    <p class="my-2"><a href="{{url_for('home')}}">Return to the homepage</a></p>
    <div class="d-flex justify-content-center">
        <div class="tenor-gif-embed" data-postid="10480536" data-share-method="host" data-aspect-ratio="1.315" data-width="90%">
            <a href="https://tenor.com/view/error-wait-computer-download-cat-gif-10480536">Error Wait GIF</a>from <a href="https://tenor.com/search/error-gifs">Error GIFs</a>
        </div>
        <script type="text/javascript" async src="https://tenor.com/embed.js"></script>
    </div>
</div>
{% endblock %}
