{% extends "./partials/container.html" %}

{% block content %}
<div class="container my-5 text-center align-items-center"> 
    <h1>ERROR 500: INTERNAL SERVER ERROR.</h1>
    <p class="my-2"><a href="{{url_for('home')}}">Return to the homepage</a></p>
    <div class="d-flex justify-content-center"></div>
        <div class="tenor-gif-embed" data-postid="5632792" data-share-method="host" data-aspect-ratio="1.78571" data-width="100%">
            <a href="https://tenor.com/view/capcom-street-fighter-five-server-gif-5632792">Capcom Street GIF</a>from <a href="https://tenor.com/search/capcom-gifs">Capcom GIFs</a>
        </div> 
        <script type="text/javascript" async src="https://tenor.com/embed.js"></script>
    </div>
</div>
{% endblock %}
